<div id="search" class="input-group">
  <input style="border: 1px solid transparent; border-radius: 0px; box-shadow: none; border-bottom: 1px solid #c9c9c9;" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i style="font-size: 20px; color: black" class="fa fa-search"></i></button>
  </span>
</div>